# Executables
*.o
drivetest
bbcfdc
bbcfdc-nopi
checka2r
checkfsd
checkhfe
checkscp
checktd0
checkwoz

# Raw images
*.raw
*.rfi
*.dfi
*.scp
*.hfe

# BBC Micro DFS images
*.ssd
*.dsd
*.sdd
*.ddd
*.fsd

# ADFS images
*.adf
*.ads
*.adm
*.adl

# C64 images
*.d64

# Generic images
*.img
*.td0

# Apple II images
*.a2r
*.woz
