# Executables
*.o
drivetest
bbcfdc
bbcfdc-nopi
checkfsd
checkhfe
checkscp
checktd0

# Raw images
*.raw
*.rfi
*.dfi
*.scp

# BBC Micro DFS images
*.ssd
*.dsd
*.sdd
*.ddd
*.fsd

# ADFS images
*.adf
*.ads
*.adm
*.adl

# C64 images
*.d64

# Generic images
*.img
*.td0
